<section id="about" class="section about">
  <div class="container">
   
<h2 class="section-title animated">
  <span data-i18n="about_title"></span>
  <span class="title-underline"></span>
</h2>

    <p class="section-subtitle" data-i18n="about_subtitle"></p>

    <div class="about-wrapper">
      <ul class="about-list">

        <li class="about-item">
          <h3 class="topic-title" data-i18n="service_formation_title"></h3>
          <p class="about-item-text" data-i18n="service_formation_text"></p>
        </li>

        <li class="about-item">
          <h3 class="topic-title" data-i18n="service_documents_title"></h3>
          <p class="about-item-text" data-i18n="service_documents_text"></p>
        </li>

        <li class="about-item">
          <h3 class="topic-title" data-i18n="service_licenses_title"></h3>
          <p class="about-item-text" data-i18n="service_licenses_text"></p>
        </li>

        <li class="about-item">
          <h3 class="topic-title" data-i18n="service_representation_title"></h3>
          <p class="about-item-text" data-i18n="service_representation_text"></p>
        </li>        

      </ul>
    </div>

  </div>
</section>

