<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-container">
      <div class="logo-contacts-container">
        <!-- Логотип -->
        <div class="footer-logo">
          <a class="footer-logo-link" href="/green-frog">
            GreenFrog<span class="logo-span">Office</span>.
          </a>
        </div>

        <!-- Контакти -->
        <ul class="footer-contacts">
          <li>
            <p class="footer-contacts-label" data-i18n="footer.phone.label">Phone number:</p>
            <a class="footer-phone" href="tel:+420777713093">+420 777-713-093</a>
          </li>
          <li>
            <p class="footer-contacts-label" data-i18n="footer.address.label">Address:</p>
            <address>
              <a class="footer-phone" href="https://maps.google.com/?q=Prague.+Czechia" target="_blank"
                rel="noopener noreferrer">
                Prague, Czechia
              </a>
            </address>
          </li>
        </ul>
      </div>

      <!-- Навігація -->
      <nav class="footer-nav" aria-label="Footer navigation">
        <ul class="footer-menu">
          <li class="footer-menu-item">
            <a class="footer-address" href="#about" data-i18n="nav.services">Services</a>
          </li>
          
          <li class="footer-menu-item">
            <a class="footer-address" href="#reviews" data-i18n="nav.reviews">Reviews</a>
          </li>
          <li class="footer-menu-item">
            <a class="footer-address" href="#application-form" data-i18n="nav.contact">Contact us</a>
          </li>
        </ul>
      </nav>

   
    <hr class="footer-divider" />

    <!-- Нижня смуга -->
    <div class="footer-bottom">
      <p class="footer-copyright">
        <span data-i18n="footer.rights.company">GreenFrogOffice.</span><br>
        <span data-i18n="footer.rights.text">All rights reserved.</span>
      </p>
      <ul class="footer-legal">
        <li class="footer-legal-item">
          <a class="footer-legal-link" href="/privacy-policy" target="_blank" rel="noopener noreferrer"
            data-i18n="footer.privacy">
            Privacy Policy
          </a>
        </li>
        <li class="footer-legal-item">
          <a class="footer-legal-link" href="/terms" target="_blank" rel="noopener noreferrer" data-i18n="footer.terms">
            Terms of Service
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
