<header class="header">
  <div class="container">
    <nav class="header-nav">

      <!-- ЛОГОТИП -->
      <div class="nav-logo">
        <a href="/green-frog">
          <span class="logo-green-span">GreenFrog</span><span class="logo-span">Office</span>
        </a>
      </div>

      <!-- БУРГЕР  -->
      <button type="button" class="burger-btn js-open-menu" aria-expanded="false" aria-controls="header__mobile">
        <svg class="burger-icon" aria-label="toggles mobile menu" role="img">
          <use class="icon--mobile" href="/img/icons.svg#icon-nav"></use>
          <use class="icon--wide" href="/img/icons.svg#icon-nav_bold"></use>
        </svg>
      </button>

      <!-- Навигация -->
      <nav class="page-nav">
        <ul class="header-nav-list">
          <li class="nav-item">
            <a href="#about" class="nav-link">Services</a>
          </li>
          <li class="nav-item">
            <a href="#application-form" class="nav-link">Contact us</a>
          </li>
        </ul>        
      </nav>      

    </nav>

    <!-- Модальное меню бургера
    <div class="burger_modal js-menu-container" id="header__mobile" role="dialog" aria-modal="true">
      <div class="burger_container">
        <button type="button" class="close-btn js-close-menu" aria-label="close menu">
          <svg class="modal-close" role="img" width="32" height="32">
            <use class="icon--wide" href="/img/icons.svg#icon-close_bold"></use>
          </svg>
        </button> -->

        <nav class="modal-nav">
          <ul class="modal-nav-list">
            <li class="modal-nav-item">
              <a href="#services" class="nav-link mobile-menu-list">Services</a>
            </li>
            <li class="nav-item">
              <a href="#reviews" class="nav-link mobile-menu-list">Reviews</a>
            </li>
            <li class="modal-nav-item">
              <a href="#application-form" class="nav-link mobile-menu-list">Contact</a>
            </li>
          </ul>
          <!-- Языковые кнопки -->
          <div class="lang-switch">
            <button type="button" class="lang-btn" data-lang="en" onclick="setActiveLang('en')">EN</button>
            <button type="button" class="lang-btn" data-lang="ru" onclick="setActiveLang('ru')">RU</button>
            <button type="button" class="lang-btn" data-lang="ua" onclick="setActiveLang('ua')">UA</button>
          </div>
        </nav>
      </div>
    </div>

  </div>
</header>

