<section id="application-form" class="section">
  <div class="container">
    <h2 class="section-title" data-i18n="form.title">
      Leave an application
    </h2>

    <div class="form-img-container">
      <p class="leave-item-text-up" data-i18n="form.subtitle">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>

      <form class="leave-form" action="#">
        <div class="form-container">
          <label class="visually-hidden" for="user-name">Name</label>
          <input class="form-input"
           type="text"
           id="user-name"
           placeholder="Name"
           data-i18n-placeholder="form.name"
           pattern="^[A-Za-zА-Яа-яЁёІіЇїЄє\s]{2,}$" title="Мінімум 2 літери, тільки букви та пробіли" required />
        </div>

        <div class="form-container">
          <label class="visually-hidden" for="phone">Phone</label>
          <input class="form-input" type="tel" id="phone" placeholder="Phone" data-i18n-placeholder="form.phone"
            pattern="^\+38\s?\(0\d{2}\)\s?\d{3}-\d{2}-\d{2}$" title="Формат: +38 (0XX) XXX-XX-XX" required />
        </div>