<section id="proposal" class="section proposal-section">
  <div class="container">
    <div class="proposal-container">

      <h2 class="visually-hidden" data-i18n="proposal_hidden_title"></h2>

      <p class="title" data-i18n-html="proposal_title"></p>

      <div class="proposal-inner">
        <div class="proposal-wrapper">
          <ul class="proposal-list">

            <li class="proposal-item">
              <div class="icon-wrapper">
                <svg class="check-icon" width="14" height="14">
                  <use href="/img/icons.svg#icon-check"></use>
                </svg>
              </div>
              <p class="proposal-item-text" data-i18n-html="proposal_item_apostille"></p>
            </li>

            <li class="proposal-item">
              <div class="icon-wrapper">
                <svg class="check-icon" width="14" height="14">
                  <use href="/img/icons.svg#icon-check"></use>
                </svg>
              </div>
              <p class="proposal-item-text" data-i18n-html="proposal_item_databox"></p>
            </li>

            <li class="proposal-item">
              <div class="icon-wrapper">
                <svg class="check-icon" width="14" height="14">
                  <use href="/img/icons.svg#icon-check"></use>
                </svg>
              </div>
              <p class="proposal-item-text" data-i18n-html="proposal_item_bank"></p>
            </li>

            <li class="proposal-item">
              <div class="icon-wrapper">
                <svg class="check-icon" width="14" height="14">
                  <use href="/img/icons.svg#icon-check"></use>
                </svg>
              </div>
              <p class="proposal-item-text" data-i18n-html="proposal_item_power"></p>
            </li>

          </ul>

          <a href="#application-form" class="button proposal-button" data-i18n="proposal_button">
          </a>

          <div class="books-image-wrapper">
            <picture>
              <source srcset="/img/books/books@1x.avif 1x, /img/books/books@2x.avif 2x" type="image/avif" />
              <source srcset="/img/books/books@1x.png 1x, /img/books/books@2x.png 2x" />
              <img src="/img/books/books@1x.png" alt="Tall stack of books" class="books-img animated" width="321"
                height="368" />
            </picture>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

