.about-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @media screen and (min-width: 768px) {
    gap: 32px;
  }

  @media screen and (min-width: 1280px) {
    
    align-items: stretch;
    max-width: 1024px;
  }
}
.about-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  counter-reset: aboutCount;
  margin: 0;
  padding: 0;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
}

.about-item {
  padding: 20px;
  background: rgb(238, 237, 237);
  border-radius: 16px;
  position: relative;
  box-shadow: 0 12px 28px rgb(177, 179, 177);

  


  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 32px) / 2);
  }
}

.about-item {
  padding: 16px;
  border-radius: 14px;

}

.topic-title {
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgb(11, 11, 11);
  margin-bottom: 12px;


}
.section-subtitle {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.02em;
  opacity: 0.7;
  text-align: center;
  max-width: 880px;
  margin: 0 auto 64px;
}
.about-item-text {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

/* MOBILE */
.section-subtitle {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.02em;
  opacity: 0.7;
  text-align: center;
  max-width: 880px;
  margin: 0 auto 40px;
}

/* TABLET + */
@media screen and (min-width: 768px) {
  .section-subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.7;
    margin-bottom: 64px;
  }
}