.hero-section {
  position: relative;
  border-radius: 16px;
  margin: 8px auto 64px;
  max-width: 335px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-image:
    linear-gradient(95.97deg,
      rgba(0, 0, 0, 0.12) 30%,
      rgba(0, 0, 0, 0) 55%),
    url(/img/hero/block_mob@1x.jpg);
}
@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .hero-section {
    background-image:
      linear-gradient(95.97deg,
        rgba(0, 0, 0, 0.12) 30%,
        rgba(0, 0, 0, 0) 55%),
      url(/img/hero/block_mob@2x.jpg);
  }
}
@media (min-width: 768px) {
  .hero-section {
    border-radius: 30px;
    margin: 32px auto 100px;
    max-width: 704px;

    background-image:
      linear-gradient(95.97deg,
        rgba(0, 0, 0, 0.4) 36.36%,
        rgba(0, 0, 0, 0) 51.43%),
      url(/img/hero/block_tab@1x.jpg);
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 768px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image:
      linear-gradient(95.97deg,
        rgba(0, 0, 0, 0.4) 36.36%,
        rgba(0, 0, 0, 0) 51.43%),
      url(/img/hero/block_tab@2x.jpg);
  }
}
@media (min-width: 1280px) {
  .hero-section {
    margin: 16px auto 96px;
    max-width: 1152px;
   
    

    background-image:
      linear-gradient(95.97deg,
        rgba(0, 0, 0, 0.4) 36.36%,
        rgba(0, 0, 0, 0) 51.43%),
      url(/img/hero/block_desk@1x.jpg);
  }
}
@media (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 1280px) and (min-resolution: 192dpi) {
  .hero-section {
    background-image:
      linear-gradient(95.97deg,
        rgba(0, 0, 0, 0.4) 36.36%,
        rgba(0, 0, 0, 0) 51.43%),
      url(/img/hero/block_desk@2x.jpg);
  }
}