.leave-form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .leave-form {
    padding-left: 102px;
    padding-right: 102px;
  }
}

@media (min-width: 1280px) {
  .image {
    flex: 0 0 492px;
  }

    .leave-form {
      margin-left: auto;
      margin-right: auto;
      margin-left: auto;
      margin-right: auto;
}
}
  

.form-input {
  display: block;
  box-sizing: border-box;
  padding: 16px 16px 16px 18px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  outline: transparent;
  background-color: transparent;
  color: var(--black);
  margin-bottom: 18px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .form-input {
    height: 56px;
  }
}

/* .button {
  color: rgba(129, 167, 109, 1);
} */

.button:hover,
.button:focus {
  background-color: rgb(108, 178, 61);
  border-color:rgb(108, 178, 61);
  color: var(--white)
}

.button.lesson-button {
  color:rgb(242, 81, 41);
}

.form-input:focus+.input-container {
  color: rgb(108, 178, 61);
}

.form-input:focus {
  border: 1px solid rgb(108, 178, 61);
}

/* textarea */
.textarea-container {
  margin-bottom: 18px;
}

textarea {
  width: 100%;
  max-height: 94px;
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0;
  background-color: transparent;
  color: rgba(18, 20, 23, 1);
  padding: 16px 18px;
  resize: none;
  outline: transparent;
}

@media screen and (min-width: 768px) {
  textarea {
    max-height: 104px;
  }
}

.form-textarea {
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
  border: 1px solid rgb(108, 178, 61);
}

.textarea-container textarea::placeholder {
  color: rgba(18, 20, 23, 0.8);
}

@media screen and (min-width: 768px) {
  .textarea-container textarea::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }
}

.text-link {
  text-decoration: underline;
}

.text-link:hover {
  color: rgb(108, 178, 61);
  text-decoration: underline;
}

.leave-item-text-down {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0;
  color: rgba(18, 20, 23, 0.5);
  margin-top: 16px;
}

.leave-item-link-text-down {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.33;
  letter-spacing: 0;
  color: rgba(18, 20, 23, 0.5);
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .leave-item-text-down {
    font-size: 14px;
    line-height: 1.6;
  }

  .leave-item-link-text-down {
    font-size: 14px;
    line-height: 1.6;
  }
}


.leave-item-text-up {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0;
  text-align: center;
  color: rgba(18, 20, 23, 0.8);

  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .leave-item-text-up {
    font-size: 18px;
    line-height: 1.66;
    color: rgba(18, 20, 23, 0.5);
    padding-left: 59px;
    padding-right: 59px;
    margin-bottom: 64px;
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .leave-item-text-up {
    padding-left: 157.5px;
    padding-right: 157.5px;

  }

  .leave-item-text-down {
    font-size: 16px;
    line-height: 1.71;


  }

  .leave-item-link-text-down {
    line-height: 1.71;

  }
}

.form-input::placeholder {
  color: rgb(4, 4, 4);
}

.radio {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .radio {
    display: inline-flex;
    gap: 16px;
    margin-bottom: 32px;
  }
}

.radio-text {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .radio-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    color: rgb(4, 4, 4);
    margin-bottom: 14px;
  }
}

.radio label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: rgb(4, 4, 4);
}

@media screen and (min-width: 768px) {
  .radio label {
    font-size: 18px;
    line-height: 1.33;
  }
}

input[type='radio'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #12141733;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin: 0;
}

input[type='radio']:checked {
  border-color: rgb(108, 178, 61);
}

input[type='radio']:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: rgb(108, 178, 61);
  border-radius: 50%;
  transform: translate(-50%, -50%);

}

@media (min-width: 1280px) {
  .leave-form__grid {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 32px;
    column-gap: 24px;
  }

  .image {
    flex: 0 0 492px;
    max-width: 492px;
  }

  .leave-form {
    flex: 1 1 500px;
    max-width: 500px;
    min-width: 0;
    padding: 0;
  }
}

.form-img-container {
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .form-img-container {
    width: 1024px;
  }
}

/* validation */

.leave-form .form-input:invalid:not(:placeholder-shown),
.leave-form .form-textarea:invalid:not(:placeholder-shown) {
  border-color: #e53935;
  box-shadow: 0 0 6px rgba(229, 57, 53, 0.35);
}

@media screen and (min-width: 1280px) {
  .form-img-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
  }
}

/* ===== FIX FORM POSITION ON DESKTOP ===== */
@media screen and (min-width: 1280px) {

  /* Центрируем весь блок */
  #application-form .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-img-container {
    width: 100%;
    max-width: 600px;
    /* ширина формы */
    margin: 0 auto;
    display: block;
    /* убираем flex-логику */
  }

  .leave-form {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }

  .leave-item-text-up {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
}
.form-success-message {
  margin-top: 12px;
  color: rgb(108, 178, 61);
  font-size: 14px;
}


